*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar{
}

.navbar-nav{
    padding: 10px;
    display: flex;
    background-color: #343A40;
    height: 7.5vh;
}

.navbar-nav li{
    list-style: none;
    padding: 10px 12.5px 0 12.5px;
}

.navbar-nav li a{
    text-decoration: none;font-size:15px;
    color: #b1aaa5;
}

.navbar-nav li a:hover{
    color: #d3ccc7;
}




.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.center-container {
    width: 90%;
    max-width: 1200px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #174878;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555;
}